/* style.css */

.container {
    background-color: beige;
}

.inner-container {
    width: 500px;
    background-color: gray;
    box-sizing: content-box;
    border: 5px solid black;
    margin: 5px;
    padding: 20px;;
}


.inner-container#second {
    box-sizing: border-box;    
}